<style>
       body {
           background-color: black;
           font-family: "Lucida Console", "Courier New", monospace;
           text-align: left;
       }

       head{
            <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <link rel="manifest" href="/site.webmanifest">
            <meta name="theme-color" content="#ffffff">
       }

       h1 {
         color: lawngreen;
         font-size: 26px;
       }

       h3 {
         color: darkseagreen;
         font-size: 20px;
       }

       p {
         font-size: 17px;
         color: darkgreen;
       }

       a {
         color: gray;
         font-size: 17px;
       }

       #background-gradient {
         height: 1050px;
         background-image: linear-gradient(black, green);
       }
</style>
