<style>

        body {
            background-color: black;
            text-align: left;
            color: lawngreen;
        }

        h1 {
          color: lawngreen;
          font-size: 26px;
        }

        h3 {
          color: darkseagreen;
          font-size: 20px;
        }

        p {
          font-family:inherit;
          font-size: 18px;
          color: darkgreen;
        }

        a {
          font-family:serif;
          color: gray;
          font-size: 10px;
        }
        #greengrad {
          height: 650px;
          background-color: red;
          background-image: linear-gradient(black, green);
        }
    </style>
